.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.inputGroup input,
.inputGroup textarea {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: #333;
    transition: border-color 0.3s ease;
}

.inputGroup textarea {
    resize: vertical;
    min-height: 100px;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
    background-color: transparent;
    font-family: 'Gilroy', sans-serif;
}

/* Estado Focus o Valido */
.inputGroup :is(input:focus, input:not(:placeholder-shown), textarea:focus, textarea:not(:placeholder-shown))~label {
    transform: translateY(-50%) scale(0.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.2em 0.5em;
    background-color: #f2f2f2;
    /* Ajustado para que tape la línea sobre fondo blanco */
    color: #ff2e57;
    /* Color de marca */
}

.inputGroup :is(input:focus, textarea:focus) {
    border-color: #ff2e57;
}

/* Estado de Error */
.inputGroup.error input,
.inputGroup.error textarea {
    border-color: #ef4444;
}

.inputGroup.error label {
    color: #ef4444;
}

.error-message {
    font-size: 0.75rem;
    color: #ef4444;
    margin-top: 4px;
    margin-left: 14px;
    display: block;
}